/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.theme-menu__button:disabled::before {
    position: absolute;
    inset-inline-start: -15px;
    animation: arrow infinite 0.5s ease-in-out alternate;
    content: "▶";
    opacity: 0.6;
}

.like-icon.is-liked .heart {
    animation: scale 0.3s ease-in 0.1s 1 alternate;
}
  
.like-icon.is-liked .sparks {
    animation: sparks 0.3s ease-in 0.3s 1 alternate;
}

@keyframes scale {
    from {
      scale: 1;
    }
    
    to {
      scale: 1.5;
    }
  }
  

@keyframes arrow {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(4px);
    }
}

@keyframes sparks {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }