/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  font-variation-settings: var(--main-font-weight);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--accent-color);
  font-family: var(--main-font-family);
  background: 
  repeating-linear-gradient(
    90deg,
    var(--background-color),
    var(--background-color) 2px,
    transparent 2px,
    transparent 4px
  ),
  repeating-linear-gradient(
    180deg,
    var(--background-color-from),
    var(--background-color-to) 2px,
    transparent 2px,
    transparent 4px
  ),
  repeating-linear-gradient(
    180deg,
    var(--background-color-from) 0.01%,
    var(--background-color-to)
  );
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 368px;
  margin: 100px 0;
  border: 2px solid var(--accent-color);
  text-align: center;
  background-color: var(--main-background-color);
}

.logo {
  font-weight: var(--header-font-weight);
  margin-block-start: 136px;
  margin-block-end: 20px;
  font-family: var(--accent-font-family);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.header__paragraph {
  margin-block-end: 25px;
  font-family: var(--accent-font-family);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu {
  align-self: center;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-inline-start: 20px;
  margin-block-end: 25px;
  font-size: 14px;
}

.theme-menu__button {
  display: block;
  border-style: none;
  font-family: var(--accent-font-family);
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--main-background-color);
  transition: opacity 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  opacity: 0.6;
  background-color: var(--accent-color);
  transition: transform 0.3s ease;
  transform: scale(0, 0);
  transform-origin: 0%;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scale(1, 1);
}

.theme-menu__item {
  position: relative;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  border: 2px solid var(--accent-color);
  background-color: var(--main-background-color);
}

.card__title {
  padding: 5px 10px;
  font-variation-settings: var(--card-title-weight);
  font-size: 18px;
}

.content-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.grayscale {
  filter: grayscale(50%);
}

.saturate {
  filter: saturate(360%);
}

.hue-rotate {
  filter: hue-rotate(30deg);
}

.invert {
  filter: invert(80%);
}

.sepia {
  filter: sepia(80%);
}

.blur {
  filter: blur(20px);
}

.last {
  filter: saturate(250%) hue-rotate(90deg) grayscale(20%) invert(25%) blur(2px);
}

.card__image {
  display: block;
  width: 100%;
  height: 100%;
}

.card__image-wrapper {
  position: relative;
  margin-bottom: 25px;
  border-block-start: 2px solid var(--accent-color);
  border-block-end: 2px solid var(--accent-color);
  overflow: hidden;
}

.card__image-heading {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  color: var(--accent-color);
  font-family: var(--accent-font-family);
  font-size: 14px;
  text-shadow: 
    -1px 0 var(--background-color),
    0 1px var(--background-color),
    1px 0 var(--background-color), 
    0 -1px var(--background-color);
  mix-blend-mode: hard-light;
  inset-block-start: 25px;
  inset-inline-end: 25px;
}

@supports (text-stroke: 1px var(--background-color)) or
  (-webkit-text-stroke: 1px var(--background-color)) {
  .card__image-heading {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color);
  }
}

.card__text {
  margin-inline-start: 25px;
  margin-inline-end: 25px;
  font-family: var(--main-font-family);
  font-variation-settings: var(--main-font-weight);
  font-size: 18px;
  line-height: 21px;
}

.card__text:not(:last-of-type) {
  margin-bottom: 27px;
}

.card__text:last-of-type {
  margin-bottom: 25px;
}

.card__like-button-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: start;
  gap: 3px;
}

.card__icon-button {
  width: 44px;
  height: 38px;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  padding-inline-start : 0;
  padding-inline-end: 0;
  padding-block-end: 0px;
  background-color: var(--main-background-color);
  cursor: pointer;
  appearance: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.card__icon-button:focus {
  outline: none;
}

.like-icon {
  position: relative;
  z-index: 1;
  fill: var(--main-background-color);
}

.like-icon .heart {
  transform-origin: center center;
}

.like-icon .contour {
  fill: var(--accent-color);
  transition: fill 0.1s;
}

.like-icon .main-body {
  fill: var(--main-background-color);
  transition: fill 0.3s 0.05s;
}

.like-icon .sparks {
  opacity: 0;
  fill: var(--heart-color);
}

.like-icon .core {
  fill: var(--main-background-color);
  transition: fill 0.3s 0.03s;
}

.like-icon:hover .contour {
  fill: var(--accent-color);
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
}

.like-icon:hover .core {
  fill: var(--accent-color);
}

.like-icon:active .contour {
  fill: var(--accent-color);
}

.like-icon:active .main-body {
  fill: var(--heart-color);
}

.like-icon:active .core {
  fill: var(--heart-color);
}

.like-icon.is-liked .contour {
  fill: var(--heart-color);
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color);
}

.like-icon.is-liked .core {
  fill: var(--heart-color);
}

.button {
  position: relative;
  display: block;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font-family);
  font-size: 14px;
  background-color: var(--main-background-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.button::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transition: transform 0.5s ease;
  transform: scale(0, 1);
  transform-origin: 0%;
  inset-inline-start: 0;
  inset-block-start: 0;
}

.button:focus {
  outline: none;
}

.button:hover::before {
  transform: scale(1, 1);
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
  outline: none;
}

.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 340px;
  height: 55px;
}

.card__like-button {
  align-self: end;
  width: 130px;
  height: 38px;
  margin-bottom: 25px;
  margin-inline-end: 25px;
}

.ok-button {
  width: 293px;
  height: 38px;
}

.floppy {
  width: 21px;
  height: 21px;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.footer {
  margin-block-start: 50px;
  margin-block-end: 105px;
  background-color: var(--main-background-color);
}

.dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: 357px;
  height: 193px;
  border: 2px solid var(--accent-color);
  padding: 29.5px 30.5px 28.5px 29.5px;
  background-color: var(--main-background-color);
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog:not([open]) {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.dialog__text-container {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--accent-color);
}

.dialog__text {
  max-width: 234px;
  font-family: var(--accent-font-family);
  font-size: 14px;
  line-height: 150%;
  text-align: start;
  text-transform: uppercase;
}

.dialog__text-container .floppy {
  width: 39px;
  height: 39px;
}

.ok-button .button__text {
  font-family: var(--accent-font-family);
  font-variation-settings: var(--header-font-weight);
  font-size: 14px;
  font-style: normal;
  line-height: 90%;
  text-transform: uppercase;
}

@media (width <= 375px) {
  .header {
    width: 375px;
    height: 327px;
  }

  .logo {
    margin-block-start: 120px;
  }

  .card__image-heading {
    inset-block-start: 23px;
    inset-inline-end: 11px;
  }

  .floppy {
    width: 28px;
    height: 28px;
  }

  .dialog {
    width: 341px;
    height: 191px;
    padding: 30px 40px 30px 40px;
  }

  .dialog__text {
    max-width: 198px;
  }

  .save-button {
    flex-direction: column;
    width: 310px;
    height: 84px;
  }

  .ok-button {
    width: 253px;
  }
}