/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
    --main-background-color: #000;
    --accent-color: #00CC14;
    --button-text-color: #00CC14;
    --main-font-weight: 465;
    --card-title-weight: 785;
    --background-color: #000;
    --background-color-from: #007f0c;
    --background-color-to:#004306;
}

:root.theme-light {
    --main-background-color: #fff;
    --accent-color: #000;
    --button-text-color: #fff;
    --main-font-weight: 400;
    --card-title-weight: 700;
    --background-color: #d3d3d3;
    --background-color-from: #e7e7e7;
    --background-color-to:#1a1a1a;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-background-color: #000;
        --background-color: #000;
        --accent-color: #00CC14;
        --button-text-color: #00CC14;
        --main-font-weight: 465;
        --card-title-weight: 785;
        --background-color-from: #007f0c;
        --background-color-to:#004306;
    }
}