/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --main-background-color: #fff;
    --main-font-family: 'Inter', sans-serif;
    --accent-font-family: 'Press Start 2P', sans-serif;
    --card-title-weight: "wght" 700;
    --main-font-weight: "wght" 400;
    --header-font-weight: "wght" 400;
    --heart-color: #FF0000;
    --accent-color: #000;
    --button-text-color: #fff;
    --background-color: #d3d3d3;
    --background-color-from: #e7e7e7;
    --background-color-to:#1a1a1a;
}